.header{
    margin-top: 0px;
    margin-bottom: 50px;
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
}
.header span{
    font-size: 70px;
    color: rgb(131, 94, 68);
}